@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.customersList {
    display: flex;
    flex-flow: column;
    flex-basis: 20%;

    list-style-type: none;
    margin: 0;
    padding: 0;
}