.customerItem {
    padding: .5rem;
    background-color: lightgray;

    .customerName {
        font-weight: bold;
        font-size: 1.2rem;
        
        a {
            text-decoration: none;
            border: 1px solid;
            padding: .2rem;
            color: #000;
            float: right;
            font-size: 1rem;
        }
    }

    .customerInfo {
        padding: .5rem;
    }
}