@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.customerItem {
    @include display-box;

    .customerName {
        font-weight: bold;
        font-size: 1.2rem;
        
        a {
            text-decoration: none;
            border: 1px solid;
            padding: .2rem;
            float: right;
            font-size: 1rem;
        }
    }

    .customerInfo {
        padding: .5rem;
    }
}