@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.Header {
    @include center;

    border-bottom: 1px solid;
    height: $header-height;
    color: $header-text-color;
    background-color: $header-background-color;
}