@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.App {
    main {
      @include center;
      
      width: auto;
      padding: 2rem;
      min-height: calc(100vh - #{$header-height});
      background-color: $main-background-color;
    }
}